<% provide :title, t(".title") %>
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-black mt-4"><%= t ".welcome_to" %><br><%= t ".mms" %></h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4"><%= t ".wwd" %></h2>
      <p><%= t ".dangnhap" %></p>
        <%= link_to t(".login"), login_path, class: "btn btn-primary btn-lg" %>
      </p>
    </div>
    <div class="col-sm-4">
      <h2 class="mt-4"><%= t ".contact_us" %></h2>
      <address>
        <strong><%= t ".mms" %></strong>
        <br><%= t ".li_thuong_kiet" %><br>
      </address>
      <address>
        <abbr><%= t ".phone" %></abbr>
          <%= Settings.phone %><br>
        <abbr><%= t ".email" %></abbr>
          <%= mail_to Settings.email %>
      </address>
    </div>
  </div>
</div>
