 <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
  <div>
    <p class="app-sidebar__user-name"><%= t ".admin" %></p>
    <p class="app-sidebar__user-designation"><%= t ".fontend" %></p>
  </div>
</div>
<ul class="app-menu">

   <li><a class="app-menu__item" href=""><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">User</span></a></li>
  <li><%= link_to fa_icon("dashboard", text: t(".user")), root_path, class: "app-menu__item" %></li>
  <li><%= link_to fa_icon("file-text", text: t(".team")), root_path, class: "app-menu__item" %></li>
  <li><%= link_to fa_icon("file-text", text: t(".project")), root_path, class: "app-menu__item" %></li>
  <li><%= link_to fa_icon("file-text", text: t(".skill")), root_path, class: "app-menu__item" %></li>
  <li><%= link_to fa_icon("file-text", text: t(".position")), root_path, class: "app-menu__item" %></li>
  <li><%= link_to fa_icon("file-text", text: t(".activity_log")), root_path, class: "app-menu__item" %></li>
</ul>
