<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body class="app sidebar-mini rtl">
    <header class="app-header"><a class="app-header__logo" href="index.html"><%= t ".admin_cpanel" %></a>
      <%= render "layouts/admin/header" %>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <%= render "layouts/admin/leftbar" %>
    </aside>
    <main class="app-content">
      <%= yield %>
    </main>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </body>
</html>
