<tr>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.birthday.strftime("%m/%d/%Y") %></td>
  <td><%= link_to user.team_id %></td>
  <td>
    <%= link_to fa_icon("edit"), edit_admin_user_path(user), class: "btn btn-info" %>
    <%= link_to fa_icon("remove"), admin_user_path(user) , method: :delete, data: { confirm: t(".sure") }, class: "btn btn-danger" %>
  </td>
</tr>
