<% provide :title, t(".title") %>
<div class="row user">
  <div class="col-md-12">
    <div class="profile">
      <div class="info">
        <img class="user-img" src="<%= @user.avatar %>">
        <h4><%= @user.name %></h4>
        <p><%= @user.position.name if !@user.position.nil? %></p>
        <p></p>
      </div>
      <div class="cover-image"></div>
    </div>
  </div>
  <div class="tab-content col-md-12">
    <div class="tile">
      <section class="invoice">
        <div class="row mb-4">
          <div class="col-6">
            <h2 class="page-header"><i class="fa fa-globe"></i> More info</h2>
          </div>
        </div>
        <div class="row invoice-info">
          <div class="col-4">
            <strong>Basic Info:</strong>
            <address>
              Name: <%= @user.name %><br>
              Birthday: <%= @user.birthday.strftime("%m/%d/%Y") %><br>
              Email: <%= @user.email %><br>
              Position: <%= @user.position.name if !@user.position.nil? %>
            </address>
          </div>
          <div class="col-4">
            <strong>Team join: </strong>
            <p>
              <%= @user.team.name if @user.team %>
            </p>
          </div>
          <div class="col-4">
            <strong>Project join: </strong>
            <p>
            <% @user.project.each do |u| %>
              <li>
                <%= u.name %>
              </li>
            <% end %>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
