<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to t("mms"), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <%= link_to t(".home"), root_path, class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to t(".about"), "", class: "nav-link" %>
        </li>
        <li class="nav-item"><%= link_to t(".help"), "", class: "nav-link"%>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item"><%= link_to t(".team"), teams_path, class: "nav-link"%>
        <li class="dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Account</a>
            <ul class="dropdown-menu settings-menu dropdown-menu-right">
              <li><%= link_to fa_icon("cog lg", text: t(".settings")), root_path, class: "dropdown-item" %></li>
              <li><%= link_to fa_icon("user lg", text: t(".profile")), current_user, class: "dropdown-item" %></li>
              <li><%= link_to fa_icon("sign-out lg", text: t(".logout")), destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t(".login"), new_user_session_path, class: "nav-link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
