<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t "mms" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="py-5 bg-dark">
      <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
